<!-- stories.ejs -->
<div class="container mt-4">
  <h2>Latest Stories</h2>
  <div class="card-deck">
    <div class="card">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis
          commodi perspiciatis placeat sapiente assumenda nobis! Adipisci, cum
          quam eos voluptas rerum atque. Assumenda voluptatum consectetur ea
          magni architecto dolores officiis.
        </h5>
        <p class="card-text">Description of Story 1.</p>
      </div>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium
          id excepturi ea laboriosam tempora veritatis inventore distinctio
          sequi nobis quod ab, quisquam sapiente modi hic, nihil et
          reprehenderit eos officia.
        </h5>
        <p class="card-text">Description of Story 2.</p>
      </div>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima iure,
          sed fuga maxime optio dolorem corporis reprehenderit nesciunt, cumque
          cupiditate unde, excepturi magni ducimus. Explicabo minima illo quam
          corporis consequuntur.
        </h5>
        <p class="card-text">Description of Story 3.</p>
      </div>
    </div>
  </div>
</div>
